/*               */
/* About section */
/*               */
section#about {
  background-color: #ECE9DC;
  letter-spacing: 1px;
  padding: 35px;
}
section#about h1 {
  font-size: 36px;
  text-align: center;
  margin: 25px;
}

#about-us {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 40px auto;
}

#about-us .left-side img {
  width: 100%;
}

p.about-blurb {
  margin: 10px 10px 45px 10px;
  text-align: justify;
}