/*               */
/* About section */
/*               */
#about-us {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
}

#about-us .left-side img { width: 100%; }

p.about-blurb {
  margin-bottom: 25px;
  text-align: justify;
  letter-spacing: 0px;
}