/*            */
/* Button css */
/*            */
.button-container, input.button { text-align: center; }
.button-container a, input.button {
  display: inline-block;
  height: 46px;
  width: 260px;
  background-color: #F22233;
  border-width: 0px;
  padding: 11px 0;
  text-align: center;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all .15s;
  box-shadow: 0 4px 4px grey;
}
.button-container a:hover:enabled, input.button:hover:enabled {
  transform: scale(1.05);
}
.button-container a:active:enabled, input.button:active:enabled {
  box-shadow: none;
  transform: scale(1.05) translateY(4px);
}
input.button:disabled {
  cursor: not-allowed;
  background-color: #d1caaa;
  color: black;
  box-shadow: none;
}