/*              */
/* Cart section */
/*              */
#cart-detail {
  display: grid;
  grid-template-columns: 650px 275px;
  gap: 75px;
}

#cart-header {
  height: 45px;
  display: grid;
  grid-template-columns: 1fr 1.5fr .7fr 1fr .8fr;
  padding: 10px;
}

/*           */
/* Left side */
/*           */
#cart-header-qty { text-align: center; }
#cart-header-total { text-align: end; }

.cart-item {
  height: 130px;
  display: grid;
  grid-template-columns: 1fr 1.5fr .7fr 1fr .8fr;
  padding: 10px;
}

.cart-item-img {
  height: 110px;
  width: 110px;
  border-radius: 10px;
}

.cart-item-name {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
}
.cart-item-name p.top { margin-right: 20px; }
.cart-item-name p.bottom {
  display: flex;
  align-items: flex-end;
}
.cart-item-name span {
  display: inline-block;
  font-size: 16px;
}
.cart-item-name .icon {
  height: 20px;
  padding-bottom: 1px;
  margin-right: 3px;
}
.remove-item {
  cursor: pointer;
  width: fit-content;
}

.cart-item-qty { 
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  height: 27px;
  box-shadow:  0px 0px 5px #d1caaa;
  background-color: #efede3;
  border: 1px solid #d1caaa;
  border-radius: 10px;
  margin: 0 15px;
  text-align: center; 
}
#qty-minus, #qty-plus {
  text-align: center;
  cursor: pointer;
}
#qty-count { text-align: center; }
.cart-item-qty .icon {
  height: 24px;
  padding-top: 2px;
}

.cart-item-price-total { text-align: end; }

/*            */
/* Right side */
/*            */
#summary-heading {
  height: 47px;
  padding: 10px;
  text-align: center;
}
.right-side .summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}
.summary-right { text-align: end; }

#summary-total {
  padding-top: 10px;
}
#summary-total div { font-size: 24px; }
#summary-total span { font-size: 24px; }

/*             */
/* Alerts area */
/*             */
div.alerts {
  margin: 25px 0;
  text-align: center;
  font-size: 14px;
}
#free-shipping-carrot, #promo-success, #promo-success span { 
  font-size: 14px; 
  text-align: center;
  margin: 3px 0;
} 
#free-shipping-carrot span, #promo-error {
  color: #F22233;
  font-size: 14px;
}


/*                 */
/* Promo code area */
/*                 */
#promo {
  margin: 30px 0;
  padding-top: 10px;
  text-align: center;
}

#promo p { margin: 10px 0; }

#promo form {
  display: grid;
  grid-template-columns: 130px 130px;
  justify-content: space-between;
}

#code {
  border-radius: 10px;
  width: 130px;
  box-shadow:  0px 0px 5px #d1caaa;
  background-color: #ECE9DC;
  border: 1px solid #d1caaa;
  text-indent: 10px;
}