/*                 */
/* Contact section */
/*                 */
#contact-us {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 75px;
  /* align-items: center; */
}

#contact-us .icon { height: 30px; }

p.contact-blurb {
  margin: 10px 0 20px 0;
  text-align: justify;
  letter-spacing: 0px;
}

div.right-side {
  display: grid;
  grid-template-columns: 40px auto;
}

#mail-icon { margin-top: 8px; }
#phone-icon { margin-top: 85px; }
#email-icon { margin-top: 13px; }