/*                 */
/* Contact section */
/*                 */
#contact-us {
  display: grid;
  grid-template-columns: auto 255px;
  gap: 125px;
}

#contact-us .icon { height: 30px; }

p.contact-blurb {
  margin: 10px 0 20px 0;
  text-align: justify;
}