/*                */
/* Banner section */
/*                */
section#banner {
  background-color: #ECE9DC;
  position: relative;
  display: grid;
  align-items: center;
}

#acme-hq-banner-container {
  display: grid;
  justify-content: center;
  width: max-content;
}
#acme-hq-banner {
  width: 100vw;
  max-height: min(650px, calc(100vh - 190px));
}

#quality-products, #shop-now-a {
  position: absolute;
  letter-spacing: 2px;
  color: white;
}

#quality-products {
  right: 50px;
  top: 50px;
  font-size: 42px;
  text-align: end;
}

#shop-now-a {
  display: inline-block;
  height: 58px;
  left: 50px;
  bottom: 50px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid white;
  display: grid;
  place-items: center;
}
#shop-now-p { 
  font-size: 30px;
  padding: 0 20px;
}

/*                     */
/* Highlighted section */
/*                     */
section#highlighted {
  background-color: #ECE9DC;
  padding-top: 35px;
  padding-bottom: 15px;
}
section#highlighted h1 {
  font-size: 36px;
  text-align: center;
}
div#highlighted-product {
  position: relative;
  height: 710px;
  width: 1300px;
  margin: 0 auto;
}

img#newspaper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 520px;
  border-radius: 20px;
}
img#iron-carrot-ad {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}
p#iron-carrot-blurb {
  position: absolute;
  right: 0;
  top: 55px;
  font-size: 22px;
  width: 720px;
  text-align: justify;
}
p#iron-carrot-blurb span {
  text-decoration: underline;
  font-size: 26px;
}
p#iron-carrot-tagline {
  position: absolute;
  left: 510px;
  top: 340px;
  height: 90px;
  width: 280px;
  padding: 10px;
  font-size: 34px;
  text-align: center;
}
p#review-1, p#review-2 {
  position: absolute;
  left: 540px;
  width: 220px;
  text-align: center;
}
p#review-1 { top: 475px; }
p#review-2 { top: 575px; }

.buy-now {
  position: absolute;
  left: 850px;
  top: 260px;
  height: 50px;
  width: 140px;
  background-color: #F2274C;
  padding: 8px 23px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  transition: all .15s;
  box-shadow: 0 4px 4px grey;
}
.buy-now:hover {
  transform: scale(1.2);
}
.buy-now:active {
  box-shadow: none;
  transform: scale(1.2) translateY(4px);
}
.buy-now p {
  font-size: 28px;
}

/*                  */
/* Trending section */
/*                  */
section#trending {
  background-color: #ECE9DC;
  letter-spacing: 1px;
  padding: 35px;
}
section#trending h1 {
  font-size: 36px;
  text-align: center;
  margin: 25px;
}
#trending-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#shop-all {
  color: black;
  text-decoration: none;
}
#trending .icon {
  height: 32px;
  margin-left: 5px;
  padding-top: 3px;
}

/*                 */
/* Reasons section */
/*                 */
section#reasons {
  background-color: #ECE9DC;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  padding: 60px 50px 25px 50px;
}
section#reasons .reason {
  width: 200px;
  text-align: center;
}
section#reasons h1 {
  font-size: 24px;
  margin-bottom: 25px;
}
section#reasons p {
  letter-spacing: 1px;
  font-size: 18px;
}