/*                            */
/* Order confirmation section */
/*                            */
section#order-confirmation {
  background-color: #ECE9DC;
  letter-spacing: 1px;
  padding: 35px 0;
  min-height: calc(100vh - 415px);
}
section#order-confirmation h1 {
  font-size: 36px;
  text-align: center;
  margin: 25px;
}

#order-blurbs {
  width: 1000px;
  margin: 40px auto;
}
p.order-blurb {
  width: 650px;
  margin: 30px auto 0 auto;
  text-align: center;
}