/*              */
/* Product card */
/*              */
.product-card {
  width: 200px;
  height: 285px;
  margin: 0 5px 0 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: transform .1s;
  box-shadow:  0px 0px 5px #d1caaa;
}
.product-card:hover { transform: scale(1.07); }

.product-img img {
  height: 180px;
  width: 180px;
  border-radius: 10px;
  border: 1px solid #d1caaa;
  box-shadow:  0px 0px 5px #d1caaa;
}
.product-name {
  height: 50px;
}
.product-price {
  margin-top: 10px;
  font-size: 16px;
}