@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Voltaire";
  font-size: 20px;
  scroll-behavior: smooth;
}

/*            */
/* Common CSS */
/*            */
section.common {
  background-color: #ECE9DC;
  letter-spacing: 1px;
  padding: 15px;
}
section.common.height { min-height: calc(100vh - 415px); }

h1.common, h2.common, h3.common { text-align: center;  }

h1.common { font-size: 36px; }
h1.common.padded { margin: 20px; }

h2.common { font-size: 30px; }

h3.common { font-size: 21px; }
h3.common.padded { padding: 10px; }

div.common.subsection {
  width: 1000px;
  margin: 40px auto;
}

div.common.four-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 53px;
}
  
p.common {
  width: 650px;
  margin: 30px auto;
  text-align: center;
  padding-bottom: 15px;
}