@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:wght@300..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Winky Sans";
  font-size: 24px;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/bg2.jpg");
}

main {
  display: grid;
  place-content: center;
  gap: 25px;
  height: 100vh;
  width: 60vw;
  background-color: white;
}

header { 
  height: 50px; 
  width: 400px; 
}
h1 {
  font-size: 36px;
  text-align: center;
}

.hide {
  opacity: 0;
  z-index: 0;
  height: 0;
}

section#poll { 
  height: 300px; 
  width: 400px;
}

/* Form */
section#poll form div {
  width: 140px;
  padding-bottom: 7px;
  margin: 0 auto;
}
section#poll input, section#poll label {
  cursor: pointer;
}
section#poll div.form-buttons {
  width: 225px;
  margin-top: 30px;
}
#submit, #reset {
  width: 100px;
  height: 45px;
  background-color: #F6E5B1;
  color: black;
  cursor: pointer;
  font-size: 22px;
  border-radius: 20px;
  border: 2px solid #FECB6F;
  box-shadow: 0 0 4px 2px #FECB6F inset;
}
#submit:hover, #reset:hover {
  background-color: #FECB6F;
  border: 2px solid #FFBB49;
  box-shadow: 0 0 4px 2px #FFBB49 inset;
  font-size: 24px;
  transition: transform .3s;
}
#submit {
  margin-right: 15px;
}
input:focus { outline: none !important; }

/* Results */
.result-item { width: 400px; }
.cheese-name, .num-votes {
  display: inline-block;
  height: 30px;
  width: 200px;
  background-color: #FCF7E7;
  border-radius: 5px;
}
.cheese-name {
  text-indent: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.num-votes {
  text-align: right;
  padding-right: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.result-bar {
  background-color: #FFBB49;
  height: 10px;
  width: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  main { 
    height: 400px;
    width: 320px; 
    border-radius: 10px;
  }
  header { width: 300px; }
  h1 { font-size: 26px; }
  section#poll { width: 300px }
  .cheese-name, .num-votes { width: 150px; }
}